body{
    margin: 0%;
    width: 1920px;
    height: 1080px;
    background-color: #F3F4F9;
}
.parent{
    width: 1920px;
    height: 1080px; 
    background-color: #F3F4F9;  
}

.containerOne{
    position: relative;
    background-image: linear-gradient(180deg, #211F1F, #3B3939);
    width: 1960px;
    height: 160px;
}


.imageOne{
    position: absolute;
    display: block;
    top: 44px;
    left: 825px;
    width: 271px;
    height: 72px;
    background: transparent url('img/UEP copy.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.hr{
    height: 20px;
    width: 1960px;
    background-color: #FE077C;
    display: block;
}

.loginbox{ 
    position: absolute;
    display: block;
    margin-top: 26px;
    top: 206px;
    left: 599px;
    width: 723px;
    height: 735px;
    opacity: 1;
}

.loginForm{
    position: absolute;
    display: block;
    margin: auto;
    top: 286px;
    left: 679px;
    width: 563px;
    height: 575px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 14px #0000001A;
    border-radius: 20px;
    opacity: 1;;

}

.innerFormBox{
    position: absolute;
    display: block;
    margin: auto;
    top: 366px;
    left: 759px;
    width: 403px;
    height: 415px;
    opacity: 1;

}

.login{
    position: absolute;
    display: inline-block;
    margin-top: 0px;
    top: 366px;
    left: 916px;
    width: 90px;
    height: 48px;
    text-align: center;
    font: normal normal bold 36px/48px Roboto;
    letter-spacing: 0px;
    color: #29292B;
    opacity: 1;
    
}

.textOne{
    position: absolute;
    display: inline-block;
    margin-top: 16px;
    top: 430px;
    left: 759px;
    width: 403px;
    height: 31px;
    text-align: center;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #2A2F4D;
    opacity: 1;
    
    
}

#email{
    position: absolute;
    display: block;
    margin-top: 24px;
    top: 485px;
    left: 760px;
    width: 402px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #7D86A9;
    border-radius: 25px;
    opacity: 1;

}

#password{
    position: absolute;
    display: block;
    margin-top: 32px;
    top: 567px;
    left: 760px;
    width: 402px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #7D86A9;
    border-radius: 25px;
    opacity: 1;

}


.forget-password{
    position: absolute;
    display: inline-block;
    top: 657px;
    left: 760px;
    margin-top: 40px;
    height: 20px;
    text-align: left;
    letter-spacing: 0px;
    color: #7D86A9;
    opacity: 1;
}

#check-one{
    position: absolute;
    display: inline-block;
    margin-top: 40px;
    top: 659px;
    left: 1037px;
    width: 17px;
    height: 17px;
    background: transparent url('img/check.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#rememberMe{
    position: absolute;
    display: inline-block;
    top: 658px;
    left: 1064px;
    margin-top: 40px;
    height: 19px;
    text-align: left;
    letter-spacing: 0px;
    color: #7D86A9;
    opacity: 1;
}


#login-button{
    position: absolute;
    display: block;
    top: 725px;
    left: 760px;
    width: 402px;
    height: 56px;
    margin-top: 48px;
    background: #FE077C 0% 0% no-repeat padding-box;
    border-radius: 28px;
    opacity: 1;

}


.button-font{
    display: block;
    margin: auto;
    top: 742px;
    left: 937px;
    width: 48px;
    height: 23px;
    text-align: center;
    font: normal normal bold 17px/23px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

::placeholder{
    text-align: left;
    padding-left: 32px;
    letter-spacing: 0px;
    color: #7D86A9;
    opacity: 1;
    font-size: 16px;
    height: 21px;
}