.box-one{
    position: absolute;
    display: block;
    top: 206px;
    left: 599px;
    width: 723px;
    height: 675px;
    opacity: 1;
}

.box-two{
    position: absolute;
    display: block;
    top: 286px;
    left: 679px;
    width: 563px;
    height: 515px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 14px #0000001A;
    border-radius: 20px;
    opacity: 1;
}

.border{
    position: absolute;
    top: 366px;
    left: 759px;
    width: 403px;
    height: 355px;
    opacity: 1;
}

.Update-Password{
    position: absolute;
    display: block;
    top: 366px;
    left: 819px;
    /* width: 284px; */
    margin-top: 0px;
    height: 48px;
    text-align: center;
    font: normal normal bold 36px/48px Roboto;
    letter-spacing: 0px;
    color: #29292B;
    opacity: 1;
}

.input-text{
    position: absolute;
    display: block;
    top: 430px;
    left: 759px;
    margin-top: 16px;
    width: 403px;
    height: 31px;
    text-align: center;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #2A2F4D;
    opacity: 1;
}

#password-one{
    position: absolute;
    display: block;
    margin-top: 24px;
    top: 485px;
    left: 760px;
    width: 402px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #7D86A9;
    border-radius: 25px;
    opacity: 1;
}

#password-two{
    position: absolute;
    display: block;
    margin-top: 32px;
    top: 567px;
    left: 760px;
    width: 402px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #7D86A9;
    border-radius: 25px;
    opacity: 1;
}

#submit-one{
    position: absolute;
    display: block;
    margin-top: 40px;
    top: 665px;
    left: 760px;
    width: 402px;
    height: 56px;
    background: #FE077C 0% 0% no-repeat padding-box;
    border-radius: 28px;
    opacity: 1;
}
.update-pass-submit{
    display: block;
    margin: auto;
    top: 682px;
    left: 930px;
    width: 62px;
    height: 23px;
    text-align: center;
    font: normal normal bold 17px/23px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}